{% extends 'htmldemo.net/basic.html' %}
{% block title %} Blog - Details  {% endblock %}
{% block body %}
{%load static%}
    <!--breadcrumbs area start-->
    <div class="breadcrumbs_area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content">
                        <h3>Blog</h3>
                        <ul>
                            <li><a href="{% url 'index' %}">Home</a></li>
                            <li>Blog Details</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--breadcrumbs area end-->

    <!--blog body area start-->
    <div class="blog_details">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-12">
                    <!--blog grid area start-->
                    <div class="blog_wrapper blog_wrapper_details">
                        <article class="single_blog">
                            <figure>
                                <div class="post_header">
                                    <h3 class="post_title">The Power of Natural Fertilizers: Nurturing Your Plants Organically</h3>
                                    <div class="blog_meta">
                                        <p>Posted by : <a href="#">Admin</a> / On : <a href="#">July 16, 2024</a></p>
                                    </div>
                                </div>
                                <div class="blog_thumb">
                                    <a href="#"><img src="{% static 'img/s-product/NPK_BIO_Fertilizer.jpeg' %}" alt=""></a>
                                </div>
                                <figcaption class="blog_content">
                                    <div class="post_content">
                                        <p>Natural fertilizers offer a sustainable and eco-friendly approach to nurturing plants, providing numerous benefits for both the environment and the quality of your produce. Unlike synthetic fertilizers, which can harm soil health and contaminate water sources, natural fertilizers work in harmony with nature to enhance soil fertility and promote robust plant growth. They are derived from organic sources such as compost, manure, and plant-based materials, slowly releasing nutrients into the soil as they decompose. This gradual release mimics the natural nutrient cycles found in ecosystems, ensuring a steady supply of essential elements for plant uptake.</p>
                                        <blockquote>
                                            <p>Natural fertilizers, derived from organic sources like compost and manure, nourish plants sustainably.They improve soil health by enhancing water retention and promoting beneficial microbial activity.This leads to healthier plants, increased nutrient uptake, and more flavorful, nutritious produce.</p>
                                        </blockquote>
                                        <p>One of the key advantages of natural fertilizers is their ability to improve soil structure and health. As they break down, they add organic matter to the soil, increasing its water-holding capacity and aeration. This creates a more favorable environment for beneficial microorganisms, which play a crucial role in nutrient cycling and disease suppression. Healthy soil teeming with microbial life is better able to support plant growth, leading to more vigorous and resilient plants. Additionally, natural fertilizers can enhance the flavor and nutritional value of your produce. Studies have shown that plants grown with organic fertilizers often contain higher levels of vitamins, minerals, and antioxidants compared to those grown with synthetic fertilizers.</p>
                                        <p>Choosing to use natural fertilizers is a conscious decision to prioritize the long-term health of your soil and the environment. By embracing sustainable gardening practices, you can contribute to a healthier planet while enjoying the rewards of homegrown, nutrient-rich produce. Whether you're a seasoned gardener or just starting out, incorporating natural fertilizers into your gardening routine is a simple yet impactful step towards creating a thriving and eco-friendly garden.</p>
                                    </div>
                                    <div class="entry_content">
                                        <div class="post_meta">
                                            <span>Tags: </span>
                                            <span><a href="#">, Natural Fertilizers</a></span>
                                            <span><a href="#">, Soil Health</a></span>
                                            <span><a href="#">, Plant Nutrition</a></span>
                                        </div>

                                        <div class="social_sharing">
                                            <p>share this post:</p>
                                            <ul>
                                                <li><a href="#" title="facebook"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#" title="twitter"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#" title="pinterest"><i class="fa fa-pinterest"></i></a>
                                                </li>
                                                <li><a href="#" title="google+"><i class="fa fa-google-plus"></i></a>
                                                </li>
                                                <li><a href="#" title="linkedin"><i class="fa fa-linkedin"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </figcaption>
                            </figure>
                        </article>
                        <div class="related_posts">
                            <h3>Related posts</h3>
                            <div class="row">
                                <div class="col-lg-4 col-md-6">
                                    <article class="single_related">
                                        <figure>
                                            <div class="related_thumb">
                                                <a href="#"><img src="{% static 'img/product/cp_soil.webp' %}"
                                                        alt=""></a>
                                            </div>
                                            <figcaption class="related_content">
                                                <h4><a href="#">Potting Soil - 100% Organic With 8 Fertilizers And 4 Beneficial Microbes(5 kg)</a></h4>
                                                <div class="blog_meta">
                                                    <span class="author">By : <a href="#">Admin</a> / </span>
                                                    <span class="meta_date"> April 11, 2019 </span>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </article>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <article class="single_related">
                                        <figure>
                                            <div class="related_thumb">
                                                <a href="#"><img src="{% static 'img/product/growthpromoter.avif' %}"
                                                        alt=""></a>
                                            </div>
                                            <figcaption class="related_content">
                                                <h4><a href="#">Bayer Ethrel Plant Growth Promoter</a></h4>
                                                <div class="blog_meta">
                                                    <span class="author">By : <a href="#">Admin</a> / </span>
                                                    <span class="meta_date"> May 15, 2019 </span>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </article>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <article class="single_related">
                                        <figure>
                                            <div class="related_thumb">
                                                <a href="#"><img src="{% static 'img/product/silica-pro-fertilizer.avif' %}"
                                                        alt=""></a>
                                            </div>
                                            <figcaption class="related_content">
                                                <h4><a href="#">Katyayani Silica Pro Fertilizer</a></h4>
                                                <div class="blog_meta">
                                                    <span class="author">By : <a href="#">Admin</a> / </span>
                                                    <span class="meta_date"> June 26, 2020 </span>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </article>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="comments_box">
                            <h3>3 Comments </h3>
                            <div class="comment_list">
                                <div class="comment_thumb">
                                    <img src="assets/img/blog/comment3.png.jpg" alt="">
                                </div>
                                <div class="comment_content">
                                    <div class="comment_meta">
                                        <h5><a href="#">Admin</a></h5>
                                        <span>October 16, 2018 at 1:38 am</span>
                                    </div>
                                    <p>But I must explain to you how all this mistaken idea of denouncing pleasure</p>
                                    <div class="comment_reply">
                                        <a href="#">Reply</a>
                                    </div>
                                </div>

                            </div>
                            <div class="comment_list list_two">
                                <div class="comment_thumb">
                                    <img src="assets/img/blog/comment3.png.jpg" alt="">
                                </div>
                                <div class="comment_content">
                                    <div class="comment_meta">
                                        <h5><a href="#">Demo</a></h5>
                                        <span>October 16, 2018 at 1:38 am</span>
                                    </div>
                                    <p>Quisque semper nunc vitae erat pellentesque, ac placerat arcu consectetur</p>
                                    <div class="comment_reply">
                                        <a href="#">Reply</a>
                                    </div>
                                </div>
                            </div>
                            <div class="comment_list">
                                <div class="comment_thumb">
                                    <img src="assets/img/blog/comment3.png.jpg" alt="">
                                </div>
                                <div class="comment_content">
                                    <div class="comment_meta">
                                        <h5><a href="#">Admin</a></h5>
                                        <span>October 16, 2018 at 1:38 am</span>
                                    </div>
                                    <p>Quisque orci nibh, porta vitae sagittis sit amet, vehicula vel mauris. Aenean at
                                    </p>
                                    <div class="comment_reply">
                                        <a href="#">Reply</a>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <div class="comments_form">
                            <h3>Leave a Reply </h3>
                            <p>Your email address will not be published. Required fields are marked *</p>
                            <form action="#">
                                <div class="row">
                                    <div class="col-12">
                                        <label for="review_comment">Comment </label>
                                        <textarea name="comment" id="review_comment"></textarea>
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <label for="author">Name</label>
                                        <input id="author" type="text">

                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <label for="email">Email </label>
                                        <input id="email" type="text">
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <label for="website">Website </label>
                                        <input id="website" type="text">
                                    </div>
                                </div>
                                <button class="button" type="submit">Post Comment</button>
                            </form>
                        </div>

                    </div>
                    <!--blog grid area start-->
                </div>
                <div class="col-lg-3 col-md-12">
                    <div class="blog_sidebar_widget">
                        <div class="widget_list widget_search">
                            <div class="widget_title">
                                <h3>Search</h3>
                            </div>
                            <form action="#">
                                <input placeholder="Search..." type="text">
                                <button type="submit">search</button>
                            </form>
                        </div>
                        <div class="widget_list comments">
                            <div class="widget_title">
                                <h3>Recent Comments</h3>
                            </div>
                            <div class="post_wrapper">
                                <div class="post_thumb">
                                    <a href="#"><img src="{% static 'img/blog/comment2.png.jpg' %}" alt=""></a>
                                </div>
                                <div class="post_info">
                                    <span> <a href="#">Riya Rathod</a> Says:</span>
                                    <a href="#">"Amazing variety of plants!"</a>
                                </div>
                            </div>
                            <div class="post_wrapper">
                                <div class="post_thumb">
                                    <a href="#"><img src="{% static 'img/blog/comment2.png.jpg' %}" alt=""></a>
                                </div>
                                <div class="post_info">
                                    <span><a href="#">Kinjal Prajapati</a> Says:</span>
                                    <a href="#">"The care tips were super helpful."</a>
                                </div>
                            </div>
                            <div class="post_wrapper">
                                <div class="post_thumb">
                                    <a href="#"><img src="{% static 'img/blog/comment2.png.jpg' %}" alt=""></a>
                                </div>
                                <div class="post_info">
                                    <span><a href="#">Manoj Singh</a> Says:</span>
                                    <a href="#">"Customer service quickly answered my questions."</a>
                                </div>
                            </div>
                            <div class="post_wrapper">
                                <div class="post_thumb">
                                    <a href="#"><img src="{% static 'img/blog/comment2.png.jpg' %}" alt=""></a>
                                </div>
                                <div class="post_info">
                                    <span><a href="#">Arjun Bhatt</a> Says:</span>
                                    <a href="#">"Fast shipping and healthy plants upon arrival."</a>
                                </div>
                            </div>
                        </div>
                        <div class="widget_list widget_post">
                            <div class="widget_title">
                                <h3>Recent Posts</h3>
                            </div>
                            <div class="post_wrapper">
                                <div class="post_thumb">
                                    <a href="#"><img src="{% static 'img/product/growthpromoter' %}.avif" alt=""></a>
                                </div>
                                <div class="post_info">
                                    <h4><a href="#">Growth Promoter</a></h4>
                                    <span>Augest 29, 2024 </span>
                                </div>
                            </div>
                            <div class="post_wrapper">
                                <div class="post_thumb">
                                    <a href="#"><img src="{% static 'img/product/Jadeplant.webp' %}" alt=""></a>
                                </div>
                                <div class="post_info">
                                    <h4><a href="#">Jadeplant</a></h4>
                                    <span>July 19, 2024 </span>
                                </div>
                            </div>
                            <div class="post_wrapper">
                                <div class="post_thumb">
                                    <a href="#"><img src="{% static 'img/product/fertilizer.avif' %}" alt=""></a>
                                </div>
                                <div class="post_info">
                                    <h4><a href="#">Fertilizer</a></h4>
                                    <span>June 8, 2024 </span>
                                </div>
                            </div>
                            <div class="post_wrapper">
                                <div class="post_thumb">
                                    <a href="#"><img src="{% static 'img/product/brinjalseed.jpg' %}" alt=""></a>
                                </div>
                                <div class="post_info">
                                    <h4><a href="#">Brinjal Seeds</a></h4>
                                    <span>March 16, 2024 </span>
                                </div>
                            </div>
                        </div>
                        <div class="widget_list widget_categories">
                            <div class="widget_title">
                                <h3>Categories</h3>
                            </div>
                            <ul>
                                <li><a href="#">Plants</a></li>
                                <li><a href="#">Seeds</a></li>
                                <li><a href="#">Fertilizers</a></li>
                                <li><a href="#">Compost</a></li>
                                <li><a href="#">Pesticides</a></li>
                                <li><a href="#">Plant Growth Promoters</a></li>
                                <li><a href="#">Agricultural Equipments</a></li>
                            </ul>
                        </div>
                        <div class="widget_list widget_tag">
                            <div class="widget_title">
                                <h3>Tag products</h3>
                            </div>
                            <div class="tag_widget">
                                <ul>
                                    <li><a href="#">Corton Petra</a></li>
                                    <li><a href="#">Aerca Plam</a></li>
                                    <li><a href="#">Fern</a></li>
                                    <li><a href="#">NPK Fertilizer</a></li>
                                    <li><a href="#">Coragen Insecticide</a></li>
                                    <li><a href="#">Tapas Tej Growth Booster</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--blog section area end-->

{% endblock %}